<header class="header">
  <div class="logo">
    <a routerLink="/">
      <img src="/logo-header.svg" alt="Logo">
    </a>
  </div>
  <nav class="navigation">
    <a routerLink="/" class="nav-item">Accueil</a>
    <a routerLink="/catalogue" class="nav-item">Nos vins</a>
    <a routerLink="/contact" class="nav-item">Contact</a>
    <a routerLink="/article-details" class="nav-item">test</a>
  </nav>
  <div class="actions">
    <a routerLink="/" class="action-button panier">
      <img src="/panier.png" alt="Icône de panier" class="panier">
    </a>
    <a routerLink="/connexion" class="action-button">
      <img src="/utilisateur.png" alt="Icône de connexion" class="utilisateur">
    </a>
  </div>
</header>