<!-- Partie Famille de vin -->
<section class="hero">
  <img src="/negosud.png" alt="Hero Image">
</section>
<section class="featured-products">
  <h2>Nos différentes familles de vin</h2>
  <div id="suggestions-container" class="suggestions">
    @for (famille of familles; track famille.id) {
    <div class="suggestion">
      <img [src]="'data:image/jpeg;base64,'+famille.photo" [alt]="famille.nom">
      <p class="suggestion-type">{{famille.nom}}</p>
    </div>
    }
  </div>
  <a routerLink="/catalogue" class="btn-primary">Voir plus</a>
</section>
<!-- Partie Suggestion -->
<section class="suggestion-products">
  <h2>Nos suggestions du mois</h2>
  <div id="suggestions-container" class="suggestions">
    <!-- Les suggestions dynamiques seront insérées ici -->
  </div>
</section>