<div class="ficheProduit">
  <div class="groupe-photo">
    <img class="photoMain" src="/vin_blanc_fiche_produit.png" />
    <img class="photoPetite" src="/vin_blanc_fiche_produit.png" />
    <img class="photoPetite" src="/vin_blanc_fiche_produit.png" />
    <img class="photoPetite" src="/vin_blanc_fiche_produit.png" />
  </div>
  <div class="description">
    <h2 class="titreProduit">Lorem ipsum dolor sit amet</h2>
    <p class="descriptionProduit">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu malesuada ante, eu maximus erat. Integer
      eleifend elementum massa, nec cursus lorem consequat in. Curabitur quis arcu magna.
      Mauris efficitur dui ante, id tempus lacus fringilla quis.
      Pellente sque posuere sollicitudin tempor. Cras blandit accumsan luctus. Cras dignissim tincidunt ligula
      venenatis commodo. In eleifend lacus erat, eget mollis mauris ultricies eget.
    </p>
    <p class="prix">25 €</p>
    <div class="PriceAndActions">
      <p class="quantite">Quantité: <span>1</span></p>
      <a class="addToCart" routLink="/">Ajouter au panier</a>
    </div>
  </div>
</div>