.container-connexion-creation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 53px;
  margin: 50px 0;
}

.connexion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.connexion a p{
  margin: 0;
}

.creation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.back{
  width: 2px;
  background-color: #4F1823;
  border-radius: 50px;
}

h3 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}

input{
  border-left: none;
  border-right: none;
  border-top: none;
  background: transparent;
}

input:focus{
  outline: none;
}